* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.play {
  background-image: url(D:\WORK\GBJS\13\player\play-button-svgrepo-com.svg);
  width: 100px;
  height: 100px;
}

.pause {
  background-image: url(D:\WORK\GBJS\13\player\pause-button-svgrepo-com.svg);
  width: 100px;
  height: 100px;
}

